:root{
    --primary-color:#000000;
    --border-radius:8px;
    --secondary-color:#fff;
    --border-color:#7fb7c9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(0, 0, 0);
}
.box{
    background:linear-gradient(rgb(2, 2, 119),rgb(4, 109, 151));
    padding: 30px;
    width: 400px;
    border-radius: var(--border-radius);
    box-shadow:  inset 0 0 10px 5px rgba(0, 253, 253, 0.6);
}
.qr-header input{
    width: 100%;
    margin-block: 12px;
}
.qr-header h1{
    color: #fff;
}
.qr-header input, select{
    padding: 8px;
    border-radius: var(--border-radius);
    font-size: 18px;
    outline: none;
    border: 2px solid var(--border-color);
}
.qr-header label{
    color: var(--secondary-color);
    font-size: 20px;
}
.qr-header div{
    display: flex;
    justify-content: space-between;
}
.qr-footer{
    display: flex;
    justify-content: center;
}
.qr-footer a{
    background-color: var(--secondary-color);
    text-decoration: none;
    font-size: 20px;
    padding: 14px 36px;
    margin-inline:2px;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: var(--border-radius);
}
.qr-body{
    display: grid;
    place-items: center;
    padding: 20px;
}
.qr-body img{
    max-width: 100%;
    max-height: 100%;
    margin-block: 10px;
    padding: 20px;
    border: 0.5px solid var(--border-radius);
}
@media screen and (max-width:520px){
    .box{
        width: 80%;
    }
    .qr-footer a{
        padding: 12px;
        font-size: 16px;
    }
}
